
body{

font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(171, 171, 156);
}
    img{
        width: 180px    
    }
  
.labapuse{
  border: 5px solid black;
  padding: 50px;
  margin: 10px;
}
.kreisapuse{
    float: left;
     
    padding: 50px;
    margin: 10px;
}
h3{
    color:rgb(82, 73, 73);
}
